.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: bottom;
}

.fio {
    width: 60%;
}

.name {
    font-size: 500%;
}

.photo {
    width: 40%; 
}

.tags {
    width: 100%;
}

.info {
    width: 100%;
}